<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<nav>
    <h1>Admin Panel</h1>
</nav>

<div class="contact-box">

<form action="/add-product" method="post">

    <input type="text" name="name" placeholder="Tile Name">

    <input type="text" name="price" placeholder="Price">

    <input type="text" name="image" placeholder="Image Name">

    <textarea name="description" placeholder="Description"></textarea>

    <button type="submit">Add Product</button>

</form>

</div>

</body>
</html>